.columns-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns-container .column-left {
    width: 35%;
}

.columns-container .column-right {
    width: 65%;
}

.login-form, 
.register-form {
    display: none;
}